[submodule "strace/src"]
	path = strace/src
	url = https://github.com/strace/strace.git
[submodule "busybox/src"]
	path = busybox/src
	url = https://git.busybox.net/busybox/
[submodule "gdb/src"]
	path = gdb/src
	url = git://sourceware.org/git/binutils-gdb.git
[submodule "tcpdump/src"]
	path = tcpdump/src
	url = https://github.com/the-tcpdump-group/tcpdump.git
[submodule "libpcap/src"]
	path = libpcap/src
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "ltrace/src"]
	path = ltrace/src
	url = https://github.com/ice799/ltrace.git
[submodule "iptables/src"]
	path = iptables/src
	url = git://git.netfilter.org/iptables
